{% extends 'purchase/base.html' %}
{% load bootstrap4 %}

{% block content %}

<a href="{% url 'add_theme' %}" class="btn btn-primary" >Add Theme</a>
<a href="{% url 'purchase_list' %}" class="btn btn-primary" >Go Back</a>
<table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Theme</th>
            <th>Sub Theme</th>


        </tr>
        </thead>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.name }}</td>
                <td>{{ theme.subTheme }}</td>



            </tr>

        {% endfor %}
    </table>


{% endblock %}